:root{

    /* ==========================
       CORES
    ========================== */


    --white: #F8F8FF;
    --black: #121212;

    --green: #4CAF50;
    --green2: #45A049;
    
    --gray:  #303030;
    --gray2: #9A9A9A;
    --gray3: #666666;
    

    /* ==========================
       BORDAS
    ========================== */

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;

    /* ==========================
       ESPAÇAMENTOS
    ========================== */

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;

    /* ==========================
       SOMBRAS
    ========================== */

    --shadow:
        0 8px 24px rgba(0,0,0,.25);
}

/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}