<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Dashboard</title>    
</head>
<body>
    
<main class="dashboard">
    <div class="card storage">
        <p>Armazenamento</p>
    </div>

    <div class="card server">
        <div class="server_info">
            <p>Porta</p>
        </div>
        <div class="server_qr card">
            <div class="qr_placeholder"></div>
        </div>

    </div>

    <div class="card files">
        <div class="counter">
            <p>Arquivos</p>
            <h1 class="number">0</h1>
        </div>
        <div class="list card">
        </div>
    </div>
</main>

</body>
</html>